/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
/* End Reset */

/* Basic feel of the page */
body {
    background-color:#dddcf7;
}

.nav {
    background-color: #000000;
    height:146px;
    width:1920px;
    position: fixed;
    overflow: hidden; 
    max-width: 100%;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #ffffff;
    text-align: center;
    font-size: 35px;
}
/* End of basic feel of the page */

/* Top links */
a:link {
    font-size: 45px;
    text-decoration: none;
    background-color: #333;
    text-align: center;
    padding-bottom:22px; 
}

a:hover {
    background-color: lightgreen;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color:#ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* End of top links */


/* Start of parallax */
.parallax2 {
    padding-top:50px;
    background-image: url("../img/lynx2.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.parallax3 {
    padding-top:50px;
    background-image: url("../img/lynx3.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* End of parallax */
    

div { 
    display:block;
}

/* Content */
#jedan {
    padding-top:150px;
    height:100%;
    background-color:#000000;
    font-family: 'Roboto', sans-serif;
    font-size:55px;
    text-align: center;
}

#dva {
    margin-top:150px;
    height:100%;
    background-color:rgba(145, 145, 145,0.5);
    font-family: 'Montserrat', sans-serif;
    font-size:55px;
    text-align: center;
}

#tri {
    margin-top:150px;
    height:100%;
    background-color:rgba(145, 145, 145,0.5);
    font-family: 'Arial', sans-serif;
    font-size:40px;
    text-align: center;
}

#chetri {
    margin-top:150px;
    height:100%;
    background-color:rgba(145, 145, 145,0.5);
    font-family: 'Arial', sans-serif;
    font-size:33px;
    text-align: center;
    text-decoration:line-through;
}

#pet {
    margin-top:150px;
    background-color:rgba(145, 145, 145,0.5);
    font-family: 'Roboto', sans-serif;
    font-size:50px;
    text-align: center;
}

#shest {
    margin-top:150px;
    background-color:rgba(145, 145, 145,0.5);
    font-family: 'Roboto', sans-serif;
    font-size:50px;
    text-align: center;
}

#tri span {
    text-decoration:overline;
    color:#a40a0a;
}

#pet span {
    text-decoration:underline;
    color:#a40a0a;
}

#shest span {
    text-decoration:underline;
    color:#a40a0a;
}

#dva span:hover {
    background:#dddcf7;
    text-decoration:overline;
}

#tri span:hover {
    background:#ea43bc;
}

#pet span:hover {
    background:#43ea4d;
}

#shest span:hover {
    background:#f0ff06;
}
/* End of content */

/* Floating images */
.beba{
    border-radius:50%;
    float:left;
    width:150px;
    height:150px;
    padding:15px 0 0 15px;
}

.beba2{
    border-radius:50%;
    float:right;
    width:150px;
    height:150px;
    padding:15px 15px 0 0;
}
/* End of floating images */

/* Footer links using a class */
.custom_links a{
    color:#ea43bc;
}

.custom_links a:visited{
    color:#43ea4d;
}

.custom_links a:hover{
    color:#f0ff06;
}

.custom_links a:active{
    color:#5b56f1;
}

.custom_links{
    height:88px;
    overflow: hidden;
}
/* End of footer links */